$boxColors: #eb476e, #55dfb4, #08a6e4;
$boxShadow: #99999934;
$colorSmallFonts: #a5a5a5;
$colorFontHover: #213131;
$primaryBrand: #08a6e4;
$colorLightGrey: rgb(242, 241, 241);

$colorMainButton: #08a6e4;
$colorGreenButton: #55dfb4;
$colorRedButton: #eb476e;
