@import "../variables/breakpoints";
@import "../variables/colors";
@import "../variables/fonts";
@import "../mixins";

.contacts {
  padding: 80px 0;

  .container-contacts {
    max-width: 800px;
    margin: 100px auto;
  }

  @media (min-width: $mobileBreakPoint) {
    .container-contacts {
      display: flex;

      .left-side-contact {
        flex: 1;
      }
      .right-side-contact {
        flex: 1;
      }
    }
  }

  .contact-details {
    display: flex;
    flex-direction: column;

    .details__item {
      margin-bottom: 10px;
      text-decoration: none;
      color: $colorSmallFonts;
    }
  }
}

.content__text {
  margin: 25px 0;
}

.form-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;

  .form-field {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    font-family: $mainFont;
    font-size: 11px;
    letter-spacing: 3.28px;
    color: #08a6e4;
    font-weight: 700;
  }

  .text,
  .email {
    width: 100%;
    border: none;
    border-bottom: 1px solid #a5a5a5;
    margin: 10px 0;
  }

  input[type="checkbox"] {
    display: none;
  }

  input[type="checkbox"]:checked + .checkmark {
    background-image: url("./assets/Checkmark-1.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  .checkmark {
    min-width: 20px;
    min-height: 20px;
    max-width: 20px;
    max-height: 20px;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    cursor: pointer;
  }

  .checkmark:hover {
    border-color: grey;
  }
}

.form-checkbox {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  margin: 30px 0;

  .form-text {
    font-size: 12px;
    font-family: $secondFont;
    color: $colorSmallFonts;
    text-align: justify;
    line-height: normal;
    letter-spacing: 0.5px;
  }
}

.button {
  @include button($paddingSendButton);
  background-color: $colorMainButton;
  border-radius: 35px;
  font-weight: 600;
  font-size: 13px;
  border: none;
  display: block;
  align-self: flex-end;
}
