@import "../variables/breakpoints";
@import "../variables/fonts";
@import "../variables/colors";
@import "../mixins";

.footer {
  width: 100%;
  background: #f7f7f7 0% 0% no-repeat;
  box-shadow: 0px -5px 40px #00000029;

  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;

    .footer-info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .logo {
        @include logoStyle(22px);
      }

      .footer-C {
        color: $colorSmallFonts;
        font-size: 11px;
        margin-top: 8px;
      }
    }

    .footer-icons {
      display: flex;
      gap: 20px;
    }
  }
}
